// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  small {
    font-size: 16px;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
    margin-bottom: 0px;
  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  font-size: 32pt;
  text-align: center;
  
  a {
    color: #505050;
  }
}

.redline {
  border-style: none hidden;
  background-image: none;
  height: 5px;
  border: 0;
  color: #F22A2A;
  background-color: #F22A2A;
  border-color: #F22A2A;
  margin-top: 0px; 
  margin-bottom: 2px;
}

.left {
  float: left;
}
.right {
  float: right;
}
